﻿@{
    ViewData["Title"] = "Invalid Room";
}

<div>
    <h2>Invalid Room</h2>
</div>


@section Scripts{

    
    <script type="text/javascript">

        $(function () {

            

        });

    </script>
}